.battle1 {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    background:#5d3a3a;
  }

div p{width:200px;height:200px;background:#b5e0ba;margin:0}

body {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 3rem;
    background-color: #dfdfdf;
  }
  
  h1, h2 {
    color: #333333;
  }

  .box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 20rem;
  }